@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SEIM-2022 registration</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="text-center">
            <h3>SEIM-2022 conference will be held in April in St. Petersburg.</h3>
            <a class="btn btn-primary" asp-page="Registration">Register now!</a>
        </div>
    </body>
</html>